    .info {
        display: flex;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 13px;

        .value {
            box-sizing: border-box;
            padding: 10px;
            width: 33%;
            flex: 1 1 auto
        }

        &:nth-child(2n) {
            background-color: #f0f0f0;
        }

        &:hover {
            background-color: #eaf09d;
            cursor: pointer;
        }
    }