<mat-toolbar>
    <h1>
        Aula Cursos: Backoffice
    </h1>
    <button matButton class="btn-menu" [matMenuTriggerFor]="menu">
        <span>USERNAME</span>
        <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
</mat-toolbar>

<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Cerrar sesión</span>
    </button>
    <button mat-menu-item>
        <mat-icon>lock</mat-icon>
        <span>Bloquear sesión</span>
    </button>
</mat-menu>